
.bannerStyle{
    background-image: url(../public//Banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 156px;

    .svgPeopple{
        position: relative;
        bottom: 42px;
    }
}



@media only screen and (max-width: 546px){
    .svgPeopple{
        display: none;
    }
}