@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

iframe {
  width: 100%;
  height: 400px;
}

body {
 background-color: #fff;
 color: rgb(2 6 23);
 overflow: hidden;
}

.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-editor {
  min-height: 18em;
}



.collapse_navOpen__9cEru {
  min-width: 250px !important;
  max-width: 250px !important;
  transition: all 0.3s ease !important; /* Transición suave para cualquier cambio */

}


.collapse_navClouse__AChT_{
  min-width: 60px !important;
  max-width: 60px !important;
  transition: all 0.2s ease !important; /* Transición suave para cualquier cambio */

}

.webkit-center {
  text-align: -webkit-center;
}
